# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections
.obsidian/workspace.json
.obsidian/plugins
.obsidian/themes
Context/

.obsidian/graph.json
.obsidian/appearance.json
.obsidian/daily-notes.json
.DS_Store
