# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections
.obsidian/plugins/telegram-sync
.obsidian/plugins/smart-connections/data.json
.obsidian/plugins/obsidian-git
.obsidian/workspace.json
.obsidian/plugins
.obsidian/graph.json
.obsidian/workspace.json
.obsidian/graph.json
