# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections
.obsidian/workspace.json
harpoon-cache.json
Context/

/Research Communities/zook vault

.obsidian/plugins/*
.obsidian/graph.json
.obsidian/graph.json

# to exclude Obsidian workspace settings (including plugin and hotkey configurations)

# OR only to exclude workspace cache
.obsidian/workspace/*

# Exclude plugins
.obsidian/plugins/*

# Exclude consultant specific files "personal"
05*-*Personal/

# Exclude Day Planner directory placed in vault root
Day*Planners/*

# This file is used to keep track of last auto backup/pull
.obsidian-git-data

# Exclude Untitled Notes
Untitled*
# Exclude "bad" names
null*

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store

.obsidian/plugins/chat-stream/data.json
.obsidian/plugins/smart-connections/data.json
.obsidian/plugins/smart-connections/data.json
.obsidian/
