/* 
Author: TfTHacker - more info  https://tfthacker.com/
Date:   2023-07-19

This file demonstrates a few "opinionated" tweaks when using cornell.css with a the below mentioned theme.

For use with Minimal theme.
*/


@media screen {
    /* If using a banner, make the top margin shorter so the border line intersects with the banner image */
    .markdown-preview-view.cornell-border.banner-image .markdown-preview-section {
        margin-top: 142px !important;
    }

    .markdown-source-view.cornell-border.banner-image  .internal-embed .markdown-preview-section,
    .markdown-preview-view.cornell-border.banner-image .internal-embed .markdown-preview-section {
        margin-top: unset !important;
    }

    .markdown-preview-view.cornell-border.banner-image.is-readable-line-width .markdown-preview-section {
        margin-top: 132px !important;
    }

    .markdown-preview-view.cornell-border:has([data-callout="summary-top"])   {
        margin-top: 148px !important;
    }


    /* Bring the callout title closer the child elements */
    .markdown-preview-view:where(.cornell-left, .cornell-right) .markdown-preview-section [data-callout="cue"],
    .markdown-preview-view:where(.cornell-left, .cornell-right) [data-callout="cue"] {
        .callout-content > * {
            margin-top: 3px !important;
        }
    }

    :is(.cornell-left, .cornell-right) .markdown-preview-section :has([data-callout="summary"], [data-callout="summary-top"]) {
        .callout-content > * {
            margin-top: 5px !important;
        }
    }
}

@media print {
    /* Bring the callout title closer the child elements */
    .markdown-preview-view:where(.cornell-left, .cornell-right) .markdown-preview-section [data-callout="cue"],
    .markdown-preview-view:where(.cornell-left, .cornell-right) [data-callout="cue"] {
        .callout-content > * {
            margin-top: 3px !important;
        }
    }

    :is(.cornell-left, .cornell-right) .markdown-preview-section :has([data-callout="summary"], [data-callout="summary-top"]) {
        .callout-content > * {
            margin-top: 5px !important;
        }
    }
}


