/* 
Author: TfTHacker - more info  https://tfthacker.com/
Date:   2023-07-06

This file demonstrates a few "opinionated" tweaks when using cornell.css with a the below mentioned theme.

For use with following themes
- Blue Topaz
*/

@media screen {
    /* If using a banner, make the top margin shorter so the border line intersects with the banner image */
    .markdown-preview-view.cornell-border.banner-image .markdown-preview-section {
        margin-top: 118px !important;
    }

    .markdown-preview-view.cornell-border:has([data-callout="summary-top"])   {
        margin-top: 148px !important;
    }


    /* Bring the callout title closer the child elements */
    .markdown-preview-view:where(.cornell-left, .cornell-right) .markdown-preview-section [data-callout="cue"],
    .markdown-preview-view:where(.cornell-left, .cornell-right) [data-callout="cue"] {
        .callout-content  {
            padding: 0px !important;
        }
        .callout-content > * {
            margin-top: 3px !important;
        }
        .callout-title {
            margin: 0px !important;
            padding: 0px !important;
        }
    }

    :is(.cornell-left, .cornell-right) .markdown-preview-section :is([data-callout="summary"], [data-callout="summary-top"]) {
        border: 0px !important;
        .callout-title {
            background-color: unset;
            padding-left: 5px !important;
            padding-top: 5px !important;
        }
    }

}

@media print {
    /* Bring the callout title closer the child elements */
    .markdown-preview-view:where(.cornell-left, .cornell-right) .markdown-preview-section [data-callout="cue"],
    .markdown-preview-view:where(.cornell-left, .cornell-right) [data-callout="cue"] {
        .callout-content > * {
            margin-top: 3px !important;
        }
    }

    :is(.cornell-left, .cornell-right) .markdown-preview-section :has([data-callout="summary"], [data-callout="summary-top"]) {
        .callout-content > * {
            margin-top: 5px !important;
        }
    }
}
